 p
  {
   font-size: large;
   font-family: 'Bebas Neue', 'Playwrite US Trad Guides', sans-serif;
   font-weight: bold;
   font-style: italic;
   text-align: center;
   transition: opacity 1s;
  }

  .hello-world 
  { 
   font-size: 30px;
   color: rgb(0, 19, 225);
   margin-bottom: 3px;
  }

  .hello-world:hover
  {
   color: rgb(232, 10, 10);
   cursor:pointer;
  }

  .hello-world:active
  {
   margin-top: 5px;
   margin-left: 5px;
   color: rgb(255, 0, 149);
   cursor:pointer;
  }

  .make-world
  {
   margin-block-end: 3px;
   margin-block-start: 3px;
   color: rgb(36, 252, 76);
  }

  .make-world:hover
  {
   color: rgb(252, 151, 0);
   cursor:pointer;
  }

  .make-world:active
  {
   margin-top: 5px;
   margin-left: 5px;
   color: rgb(66, 216, 254);  
   cursor:pointer;
  }

  .get-it
  {
   margin-top: 5px;
   margin-bottom: 30px;
   color: rgb(255, 251, 0);
   background-color: rgb(227, 65, 64);
   padding-top: 10px;
   padding-bottom: 10px;
  }

  .get-it:hover
  {
   color: rgb(255, 255, 255);
   cursor:pointer;
   background-color:rgb(21, 0, 255);
  }

  .get-it:active
  {
   margin-top: 5px;
   margin-left: 5px;
   color: rgb(255, 0, 0);
   background-color: yellow;
  }

  .now-it
  {
   color: #00ffd0;
   padding-left: 5px;
   padding-right: 5px;
  }

  .now-it:hover
  {
   color: rgb(255, 251, 0);
   cursor:pointer;
  }

  .now-it:active
  {
   color:rgb(21, 0, 255);
  }

