 .header{
    height: 57px;
    border-bottom: 1px solid rgb(222, 222, 222);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: white;
    border-bottom: 1px solid rgb(230, 230, 230);

    z-index: 100;
  }

  .left-section{
    display:flex;
    align-items: center;
  }
  /* Left Section */
  .hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    cursor:pointer;
  } 
  .youtube-logo{
    height: 20px;
    cursor:pointer;
  }

  .middle-section{ 
    width: 70px;
    margin-right: 30px;
    max-width: 470px; 
        
    display: flex;  
    align-items: center;
    flex: 1 ;
  }

  .search-bar{
    flex: 1;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(192, 192,192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px 
    rgb(0, 0, 0, 0.05); 
    width: 0;
  }
  .search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
  }
  .search-button{ 
    cursor:pointer;
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(192, 192,192);
    margin-left: -1px;
    margin-right: 10px;
  }

  .search-button,
  .voice-search-button,
  .create-icon-box,
  .apps-icon-box,
  .notification-box{
    position: relative;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .search-button .tooltip,
  .voice-search-button .tooltip,
  .create-icon-box .tooltip,
  .apps-icon-box .tooltip,
  .notification-box .tooltip {
    background-color: gray;
    color: white;
    padding:4px 8px;
    bottom: -20px;
    border-radius: 2px;
    font-family: Roboto, Arial;
    font-size: 12px;
    
    opacity: 0;

    position: absolute;

    pointer-events: none;

    white-space: nowrap;
  }

  .search-button:hover .tooltip,
  .voice-search-button:hover .tooltip,
  .create-icon-box:hover .tooltip,
  .apps-icon-box:hover .tooltip,
  .notification-box:hover .tooltip {
    opacity: 1;
  }




  .search-button-3{
    height: 25px;
    margin-top: 4px;
  }
  .voice-search-button{
    cursor:pointer; 
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: #f8f8f8;

    position: relative;
  }
  .voice-search-button-4{
    height: 24px;
  }
  .right-section{
    width: 180px;
    margin-right:20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
  }
  .create-icon{
    cursor:pointer; 
    height: 24px; 
  }
  .apps-icon{
    cursor:pointer;
    height: 24px;
  }
  .notifications-icon{
    cursor:pointer;
    height: 24px;
  }
  .notifications-count{
    position: absolute;
    top: -2px;
    right: -5px;

    background-color: red;
    color: white;
    font-family: Roboto, Arial;
    font-size: 11px;

    height: 16px;
    width: 16px; 
    border-radius: 50%;
 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .user-pic{
    cursor:pointer;
    height: 32px;
    border-radius: 50%;
  }