.sidebar{
  width: 72px;
  background-color: white;
  padding-top: 5px;
  
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;

  z-index: 200;
}

.sidebar-link{
  height: 74px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sidebar-link:hover{
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 6.5px;
}

.sidebar-link div{
  font-family: Roboto, Arial;
  font-size: 10px;
}